<html>

<head>
     <title>Profile</title>
	 <meta name=”description” content=”CharacterPage”>
	 <meta name=”keyword” content=”character, page, profile”>
	 <meta name=”author” content=”JPMP”>
	 <link rel="stylesheet" href="/public/styles/profile.css">

	 <script src='https://code.jquery.com/jquery-3.6.0.min.js' type="text/javascript"></script>
</head>

	<body>
        <div id="entirepage">
			<%- include('./partials/nav.ejs') %>

			<!--- TODO: obtain username from database -->
			<h1><%=name%></h1>
			<div id="area">
            <div id="left">
                <%- include('./partials/avatar.ejs') %>
                <form action="/customize" method="get"><input type="submit" id="return" value="Customize Avatar" /></form>
            </div>
			
			<div class="statistics">
				<ul >
					<%	if (stats.num_games === 0)
							winrate = 0
						else
							winrate = stats.num_wins / stats.num_games *100 %>
					<li>streak: <%=stats.win_streak%></li>
					<li>highest streak: <%=stats.max_streak%></a></li>
					<li>games won: <%=stats.num_wins%></li>
					<li>games played: <%=stats.num_games%></li>
					<li>winrate: <%=winrate.toFixed(2)%>%</li>
				</ul>
			</div>
			</div>
        </div>
    </body>
</html>