<html>
	<head>
		<title>Char Customize</title>
		<link rel="stylesheet" href="styles/customize.css">

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
		<script src="scripts/customize.js" type="text/javascript"></script>
	</head>

	<body>
		<div id="area"> 
			<%- include('./partials/nav.ejs') %>
			
			<!--TODO: create dynamic avatar assets relative to equipped items-->
			<% let custom = avatar %> 
			<div id="left">
				<div id="avatar">
					<img id="base" src="Assets/base.svg">
					<img    class="weapon" 
							id="<%= custom.weapon.item_type %>" 
							src="<%= custom.weapon.img_link %>"
							alt="<%= custom.weapon.item_name%>"
						>
					<% if (avatar.hat !== null){ %>
					<img    class="head" 
							id="<%= custom.hat.item_type %>" 
							src="<%= custom.hat.img_link %>"
							alt="<%= custom.weapon.item_name%>"
						>
					<% }else{ %>
					<img	class="head" id=>
					<% } %>
				</div>
				<br>
				<form><input type="submit" id="save" value="Save Customizations" /></form>
			</div>

			<!--TODO: attach images to each cell-->
			<div class="gridbox">
				<h2>Weapons</h2>
				<div class="subbox" id="weaponbox">
					<% weapons.forEach(weapon => { %>
						<button class="item weaponslot" name="<%=weapon.item_name%>" id="<%=weapon.item_type%>">
							<img src="<%=weapon.img_link%>"/>
						</button>
					<% }) %>
				</div>
				<br>
				<div class="divider"></div>
				<br>
				<h2>Hats</h2>
				<div class="subbox" id="hatbox">
					<% heads.forEach(head => { %>
						<button class="item headslot" id="<%=head.item_type%>">
							<img src="<%=head.img_link%>" alt="<%=head.item_name%>"/>
						</button>
					<% }) %>
					
					<br> <button class="item headslot" id="unequip_hat">None</button>
				</div>
			</div>
		</div>
	</body>
</html>